.compositionBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: auto;
  padding: 60px 0;
  gap: 5vh;
}

.imageBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  gap: 12px;
}

.image {
  width: 100%;
}

.button {
  width: 60%;
  padding: 16px 20px;
  cursor: pointer;
  border: none;
  height: 78px;
  border-radius: 8px;
  background: #ef3693;
  box-shadow: 0px 4px 26px 0px #853e61;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.textBox {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: flex-start;
}

.paragraphH1 {
  color: var(--rosa-florescente, #ff0181);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.paragraphP {
  color: #fff;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
