.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  background-size: 100%;
  gap: 40px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 60px;
}

.paragraph {
  width: 33%;
  text-align: left;
}

.imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.image {
  width: 60%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
  width: 33%;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-start;
  align-items: center;
  gap: 28px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;

    gap: 32px;
  }
  .paragraph {
    width: 100%;
    text-align: center;
  }
  .image {
    display: none;
  }
  .list,
  .imageCard {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    gap: 72px;
  }
  .content {
    flex-direction: row;
    align-items: flex-start;
    gap: 60px;
  }
  .paragraph {
    text-align: left;
    width: 60%;
  }
  .image {
    display: none;
  }
  .list {
    width: 40%;
  }
  .imageCard {
    display: none;
  }
}
