.fourCardsBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: rgba(108, 93, 158, 0.19);
  backdrop-filter: blur(29.5px);
  width: 100%;
  padding: 60px 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.title {
  width: 80%;
  text-align: center;
}

.boxCard {
  /* width: 100%;  */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  /* gap: 5% 5%; */
  height: 100%;
  justify-content: center;
  gap: 36px;
  align-items: center;
  margin: 0;
}
