.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  background-size: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  gap: 72px;
  height: min-content;
}

.imageBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 45%;
}

.imageBox img {
  width: 72%;
  margin-top: 12px;
}

.topicsBox {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* gap: 32px; */
  width: 55%;
  flex-wrap: nowrap;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    width: 80%;
  }
  .imageBox {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .imageBox img {
    display: none;
  }
  .topicsBox {
    width: 100%;
    gap: 32px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content {
    flex-direction: column;
    width: 80%;
  }
  .imageBox {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .imageBox img {
    display: none;
  }
  .topicsBox {
    width: 100%;
    gap: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
}
