.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  background-size: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 80%;
  gap: 72px;
  height: min-content;
}

.imageBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 45%;
}

.imageBox img {
  width: 72%;
  margin-top: 12px;
}

.topicsBox {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  /* gap: 32px; */
  width: 55%;
  flex-wrap: nowrap;
}
