.menu {
  width: 100%;
  margin-bottom: -20px;
  z-index: 10;
  height: 20px;
  position: relative;
}

.content {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
  margin-inline: -60px;
}

.content h4 {
  padding: 20px 26px;
}

.image {
  width: 100px;
}

@media (max-width: 480px) {
  .menu {
    display: none;
  }
}
