.textsWithCardsBanner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  width: 80%;
  gap: 80px;
  background-size: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  width: 45%;
  gap: 26px;
}

.cardBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 55%;
  height: 70vh;
}
