.professionalOpinionBanner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  width: 80%;
}
.title {
  width: 80%;
  text-align: center;
}

.cardBox {
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 33.33%;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
}

.logo {
  width: 82px;
  height: 82px;
  border-radius: 82px;
  background-color: black;
}
