@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://db.onlinewebfonts.com/c/5de3a15cd8742e9fc9923f614df0e707?family=Felbridge+W04+ExtraBold");
@import url("https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap");
@font-face {
  font-family: "Felbridge W04 ExtraBold";
  src: url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.eot");
  src: url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5de3a15cd8742e9fc9923f614df0e707.svg#Felbridge W04 ExtraBold")
      format("svg");
}
@font-face {
  font-family: "testeFonte";
  src: url("/src/assets/fonts/Helvetica-Bold.ttf") format("svg");

  font-family: "cursivaFonte";
  src: url("/src/assets/fonts/BillionDreams_PERSONAL.ttf");
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --biofit-cor-principal: #02aacf;
  --biofit-tom2: #00596d;
  --biofit-tom3: #000000;

  --dexfit-cor-principal: #ef3693;
  --dexfit-tom2: #ff0181;
  --dexfit-tom3: #120817;

  --maeslim-cor-principal: #9c4aec;
  --maeslim-tom2: #8c00ff;
  --maeslim-tom3: #120817;

  --detoxBlack-cor-principal: #00e41f;
  --detoxBlack-tom2: #0e8b01;
  --detoxBlack-tom3: #121a11;

  --homeCare-cor-principal: #fd0040;
  --homeCare-tom2: #b8002e;
  --homeCare-tom3: #1a1111;

  --branco: #fff;
  --branco-medio: #fafafa;
  --preto: #2f3941;
  --secundria-preto: #232323;
  --cinza: #535f68;
  --cinza-fundo: #ebedee;
  /* --fonte-principal: "Montserrat", sans-serif;
  --fonte-secundaria: "Lato", sans-serif; */

  --cinza-fundo: #ebedee;
  --fonte-principal: "Roboto", sans-serif;
  --fonte-alternativa: "Felbridge W04 ExtraBold";
  --fonte-secundaria: "Playfair Display", sans-serif;
  --fonte-teste: "testeFonte";
  --fonte-cursiva: "cursivaFonte";
  --fonte-card: "Spicy Rice", cursive;

  font-family: var(--fonte-principal);
}

head {
  display: none;
}

#root {
  display: block;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100vh;
  max-width: 100%;
}

h1 {
  color: var(--dexfit-tom2);
  font-family: var(--fonte-alternativa);
  font-size: 40px;
  font-style: normal;
  font-weight: 1000;
  line-height: 48px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-family: var(--fonte-alternativa);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
  letter-spacing: 0.32px;
}

h3 {
  color: #fff;
  font-family: var(--fonte-principal);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h4 {
  color: var(--branco);
  font-family: var(--fonte-principal);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.18px;
}

p {
  color: #bdc1c6;
  font-family: var(--fonte-principal);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* A altura só é vista quando a rolagem é horizontal */
}

::-webkit-scrollbar-track {
  background: #000;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}
