.detoxBlack {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: 100%;
  height: auto;
}

@media (max-width: 750px) {
  .detoxBlack {
    background-size: cover;
  }
}
