.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100%;
  width: 30%;
}

.mostPop {
  border-radius: 8px;
  width: 100%;
  background-color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.image {
  margin: 20px 0;
  height: 28vh;
  width: 100%;
}

.priceMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  width: auto;
  height: auto;
}

.priceValue {
  color: #fff;
  font-family: Montserrat;
  font-size: 6vh;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.button {
  margin: 20px;
}

@media (max-width: 480px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 72px;
  }

  .card {
    width: 60vw;
  }

  .image {
    height: 12vh;
  }

  .priceValue {
    text-align: center;
    font-size: 3.3vh;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 72px;
  }

  .card {
    width: 60vw;
  }

  .image {
    height: 12vh;
  }

  .priceValue {
    text-align: center;
    font-size: 5vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 72px;
  }

  .card {
    width: 60vw;
  }
  .card:nth-child(1) {
    order: 1;
  }

  .priceValue {
    text-align: center;
    font-size: 5vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: start;
    gap: 0;
  }

  .card {
    width: 30%;
  }

  .image {
    height: 20vh;
  }

  .card:nth-child(1) {
    order: unset;
  }
  .priceValue {
    text-align: center;
    font-size: 5vh;
  }
}
