.topCardPlanCard {
  display: flex;
  align-items: flex-end;
  gap: 2vh;
}

.boxCard {
  height: 90%;
  width: 30%;
  background-color: var(--branco);
  border-radius: 8px;
}

.boxCardMain {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.mostPop {
  border-radius: 8px;
  height: 10%;
  width: 100%;
  background-color: var(--branco);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cardMainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vh;
}

.imageMain {
  max-width: 65%;
}

.imageMainMain {
  max-height: 185px;
  width: 65%;
}

.priceMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1vh;
  width: auto;
  height: auto;
}

.priceValue {
  color: #fff;
  font-family: Montserrat;
  font-size: 6vh;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.buttonMain {
  background: #fff;
  width: 70%;
  height: auto;
  padding: 2vh;
  border-radius: 8px;

  .text {
    color: var(--dexfit-tom2, #ff0181);
    font-family: Montserrat;
    font-size: 3vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    text-align: center;
  }
}
