.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  background-size: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
}

.title {
  margin-bottom: 20px;
}

.paragraph {
  width: 80%;
}

.button {
  width: 70%;
  margin-top: 40px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: auto;
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;
    gap: 32px;
  }
  .texts {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .button {
    display: none;
  }
  .carousel {
    width: 80%;
  }
}
