.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  background-size: 100%;
}
.title {
  margin-bottom: 40px;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 72px;
  margin-bottom: 40px;
}

.list {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 28px;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: flex-start;
  align-items: center;
  gap: 28px;
}

.imageBox {
  width: auto;
}

@media (max-width: 480px) {
  .imageBox {
    display: none;
  }
}
