.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  max-height: 500px;
  min-height: fit-content;
  background-color: rgba(0, 46, 49, 60%);
  overflow: hidden;
  padding: 40px 40px 0 40px;
  border-radius: 36px;
  position: relative;
  pointer-events: none;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Ajuste a altura do gradiente conforme necessário */
  background: linear-gradient(to bottom, transparent, black);
  pointer-events: none; /* Evita que o pseudo-elemento interfira com o conteúdo */
}

.text {
  user-select: none;
  text-align: start;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  user-select: none;
  height: 60%;
}
