.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  position: relative; /* Necessário para o posicionamento do pseudo-elemento */
}

.main::after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%; /* Ajuste a altura do gradiente conforme necessário */
  background: linear-gradient(to top, transparent, black);
  pointer-events: none; /* Evita que o pseudo-elemento interfira com o conteúdo */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 72px;
  z-index: 1;
}

.title {
  text-align: center;

  .paragraph {
    margin-top: 32px;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  gap: 20px;
  text-align: center;
}

.svg {
  max-width: 50%;
  max-height: 150px;
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
  }
  .item {
    width: 100%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
  }
  .item {
    width: 100%;
  }
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
  }
  .item {
    width: 100%;
  }
}
