.simpleTextCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 23%; */
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.text {
  width: 80%;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 38.4px */
  letter-spacing: 0.32px;
}

.icon {
  /* max-height: 50%; */
  max-width: 13%;
}
