.buttonMain {
  padding: 20px;
  width: max-content;
  height: 60px;
  border-radius: 8px;
  background: #ef3693;
  box-shadow: 0px 4px 26px 0px #853e61;
  color: var(--branco);
  font-size: 16px;
  font-weight: 600;
  z-index: 1;
}
