.carouselWrapper {
  max-width: 80%;
  min-width: 900px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.textBox {
  margin-bottom: 20px !important;
}

.carousel {
  height: auto;
  .slick-list {
    overflow: hidden !important; /* Substitua 'visible' pelo valor desejado */
  }
}
.card {
  width: 200px;
  height: 900px;
}
.linkCarousel {
  display: flex;
  justify-content: center;
  color: var(--cor-principal);
  font-size: 20px;
  font-weight: 550;
}

.link::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.link::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(288, 100%, 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.link {
  position: relative;
}

@media (max-width: 480px) {
  .carouselWrapper {
    min-width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .carouselWrapper {
    min-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .carouselWrapper {
    min-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .carouselWrapper {
    min-width: 100%;
  }
}
